<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h1>新規登録</h1>
<form method="POST" action="#" th:action="@{/sample/insert}" th:object="${insertForm}">
    <div>
    <label for="title">タイトル</label>
    <input id="title" name="title" type="text" th:value="*{title}"><span th:text="${message}"></span>
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </div>
    <div>
    <input id="textArea" name="textArea" type="textarea" th:value="*{textArea}">
    </div>
    <div>
    <label for="mail">mail:</label>
    <input id="mail" name="mail" type="text" th:value="*{mail}">
    </div>
    <div>
<!--        <div th:each="item : ${radioGender}" class="form-check-inline">-->
<!--            <input type="radio"  class="form-check-input"-->
<!--                   th:text="${item.value}" th:value="${item.key}" th:field="*{gender}">-->
<!--        </div>-->
        <input type="radio"  class="form-check-input" name="sex"
            text="男性" value="0" th:field="*{gender}">
        <input type="radio"  class="form-check-input" name="sex"
               text="女性" value="1" th:field="*{gender}">
            </div>
            <input type="submit" value="insert">
        </form>
        <p th:text="${insertCompleteMessage}"></p>
        <p th:if="${errorMessage}" th:text="'エラーメッセージ：'+${errorMessage}"></p>
        </body>
        </html>