<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <script th:inline="javascript">
        const syain =/*[[${syain}]]*/
        syain.forEach(function (a) {
            console.log(a);
        });
    </script>
</head>
<body>
<h1>登録</h1>
<form method="POST" action="#" th:action="@{/sample/insert}" th:object="${insertForm}">
    <div>
        <label for="title">タイトル</label>
        <input id="title" name="title" type="text" th:value="*{title}">
<!--        <span th:text="${message}"></span>-->
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>
    <div>
        <input id="textArea" name="textArea" type="textarea" th:value="*{textArea}">
        <span th:if="${#fields.hasErrors('textArea')}" th:errors="*{textArea}"></span>
    </div>
    <div>
        <label for="mail">mail:</label>
        <input id="mail" name="mail" type="text" th:value="*{mail}">
        <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>
    </div>
    <input type="submit" value="insert">
</form>
</body>
</html>